{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'login/style.css'%}">
    <title>MediFix</title>

</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                {% if user.is_authenticated %}
                <script>
                    setTimeout("location.href = '{% url 'home' %}';", 0);
                </script>
                {%else%}

            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="#" class="link">HOME</a></li>
                    <li><a href="#" class="link">CAMP</a></li>
                    <li><a href="#" class="link">SERVICE</a></li>
                    <li><a href="#" class="link">OTHERS</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="openDeepaPage()">Sign Up</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
        <!----------------------------- Form box ----------------------------------->
        <div class="form-box">

            <!------------------- login form -------------------------->
            <div class="login-container" id="login">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="top">
                        {% if form.errors %}
                            <p style="color: red; text-align: center;">Invalid Credentials. Retry again.</p>
                        {% endif %}
                        {% if messages %}
                            {% for message in messages %}
                            <p style="color: green;">{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        <header>Login</header>
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Username" id="username" name="username">
                        <i class="bx bx-user"></i>
                    </div>
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" id="password" name="password">
                        <i class="bx bx-lock-alt"></i>
                    </div>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Sign In">
                    </div>
                    <div class="two-col">
                        <div class="two">
                            <label><a href="{% url 'password_reset' %}">Forgot password?</a></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {%endif%}
    </div>
    <script>

        function myMenuFunction() {
            var i = document.getElementById("navMenu");
            if (i.className === "nav-menu") {
                i.className += " responsive";
            } else {
                i.className = "nav-menu";
            }
        }

    </script>
    <script>
        var a = document.getElementById("loginBtn");
        var b = document.getElementById("registerBtn");
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        function login() {
            x.style.left = "4px";
            y.style.right = "-520px";
            a.className += " white-btn";
            b.className = "btn";
            x.style.opacity = 1;
            y.style.opacity = 0;
        }
        function register() {
            x.style.left = "-510px";
            y.style.right = "5px";
            a.className = "btn";
            b.className += " white-btn";
            x.style.opacity = 0;
            y.style.opacity = 1;
        }

        function openDeepaPage() {
            window.location.href = "AskUserDoctor.html";
        }
    </script>
</body>

</html>