{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Password Reset Form</title>
</head>
<body>
    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1 style="color: black;">Medifix</h1>
            </section>
        </div>
        <div class="right">
            <form>
                <h2>Your Password have been changed successfully!</h2>
                <p>You may now <a href="{% url 'login' %}">log in</a> again.</p>
            </form>
        </div>
    </div>
</body>
</html>
