{% extends 'base.html' %}
{% load static %}
{% block title %}Users Details{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Full Name</th>
            <th scope="col">Active</th>
            <th scope="col">Date joined</th>
        </tr>
    </thead>
    <tbody>
        {% for u in user_data %}
        <tr>
            <th scope="row">{{u.username}}</th>
            <td>{{u.get_full_name}}</td>
            <td>{{u.is_active}}</td>
            <td>{{u.date_joined}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}