{% extends 'base.html' %}
{% load static %}
{% block title %}Users Details{% endblock %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">Doctor Id</th>
            <th scope="col">Profile</th>
        </tr>
    </thead>
    <tbody>
        {% for dd in doctor_data %}
        <tr>
            <th scope="row">{{dd.user_name}}</th>
            <td>{{dd.doctor_id}}</td>
            <td>{{dd.profile}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}