<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
    <style>
        #map { height: 400px; }
    </style>
</head>

<body>
    navbar

    <a href="{% url 'home' %}">Medifix</a>
    <a class="nav-link" href="{% url 'admin:index' %}" aria-disabled="true" target="_blank">Admin</a>
    <a class="dropdown-item" href="{% url 'camp_register' %}">Register as Camp Organizer</a>
    {% if user.is_superuser %}
    <a class="dropdown-item" href="{% url 'camp_organizer_request' %}">Pending Camp Organizer registration Request</a>
    {% endif %}
    {% if request.user.profile.camp_register == True %}
    <a class="dropdown-item" href="{% url 'my_camps' %}">All Camps</a>
    <a class="dropdown-item" href="{% url 'list_user_doctors' %}">Doctors List</a>
    <a class="dropdown-item" href="{% url 'list_user_camp_services' %}">All Camp Services</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>

</html>